@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  word-break: keep-all;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", serif;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  color: hsl(24, 5%, 18%);
  font-weight: 400;
}

h2 {
  color: hsl(14, 45%, 36%);
}

#wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e5d8;
}

.container {
  max-width: 50%;
  margin: 6rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.image {
  max-width: 100%;
}

.image > img {
  width: 100%;
  object-fit: cover;
}

.introduce {
  margin-bottom: 1rem;
}

.introduce > h1 {
  padding: 0.5rem 0 0.5rem 0;
}

.time {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  background-color: hsl(330, 100%, 98%);
  margin-bottom: 1rem;
}

.time > h3 {
  color: hsl(332, 51%, 32%);
}

.time > ul > * {
  margin: 0.5rem 0;
}

.time > ul > li > span {
  font-weight: bold;
  padding-left: 1.5rem;
  position: relative;
  color: hsl(24, 5%, 18%);
}

.time > ul > li > span::before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  background-color: hsl(332, 51%, 32%);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 100%;
  margin-left: 4px;
}

.ingredients {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.ingredients > ul > li {
  padding: 0.3rem 1.5rem;
  position: relative;
}

.ingredients > ul > li::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background-color: hsl(332, 51%, 32%);
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.instructions {
  padding: 1rem 0;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.instructions > ul {
  /* 1-1. content에 number 를 전달하기 위해 부모 요소에 counter 초기화 */
  counter-reset: section;
}

.instructions > ul > li {
  position: relative;
  padding: 0.3rem 1.5rem;
}

.instructions > ul > li > span {
  font-weight: bold;
  color: hsl(24, 5%, 18%);
}

.instructions > ul > li > span::before {
  /* 1. bullet 대신 number를 전달 */
  /* 1-2. increment 증감  */
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  color: hsl(332, 51%, 32%);
  left: 0;
}

.nutrition {
  width: 100%;
  padding: 1rem 0;
}

.nutrition > * {
  padding-bottom: 0.3rem;
}

table {
  width: 100%;
  /* 2-1. bottom 연결 */
  border-collapse: collapse;
}

table > tbody > tr > td {
  /* 2.table bottom이 중간에 끊어지는 현상  */
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 0.5rem 0 0.5rem 1.5rem;
}

table > tbody > tr > td:last-child {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

table > tbody > tr:last-child > td {
  border: none;
}
